@font-face {
    font-family: 'sans';
    src: url(source/PretendardVariable.woff2);
}

@media (prefers-color-scheme: light) {
    html {
        --primary: #AE46FF;
        --primary-lighten: #bf83ed;
        --bgcolor: #fff;
        --dark: #727272;
        --textcolor: #1e1e1e;
        --subtext: #2c2c2c;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        --primary: #AE46FF;
        --primary-lighten: #5d2b84;
        --bgcolor: #1e1e1e;
        --dark: #727272;
        --textcolor: white;
        --subtext: #eee;
    }
}

html, body {
    color: var(--textcolor);
    background-color: var(--bgcolor);
    font-family: 'sans';
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3em;
    font-weight: 900;
    padding: 4vh 2vw 2vh;
    margin: 0;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    padding: 2vh 2vw;
    margin: 0;
}

h3 {
    font-size: 1.25em;
    font-weight: 500;
    padding: 2vh 2vw;
    margin: 0;
}

h4 {
    font-size: 1em;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

p {
    color: var(--subtext);
    font-size: 1em;
    font-weight: 400;
    padding: 1vh 0;
    margin: 0;
}

a {
    color: var(--textcolor);
}

img {
    padding: 1vh;
}

#main {
    width: 60vw;
    margin: 4vh auto;
    scroll-snap-type: y mandatory;
}

.section {
    border: var(--primary) solid 2px;
    border-radius: 1em;
    box-sizing: border-box;
    margin: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: center;
}

#profile {
    width: 16vw; 
    margin: 4vh 0 0; 
    border-radius: 2em;
}

#sodium {
    width: 36vw;
}

.row {
    padding: 2vh 0;
    display: flex;
    align-items: center;
}

button {
    color: var(--textcolor);
    background-color: var(--primary);
    border: none;
    border-radius: 999px;
    padding: 0 1vw;
}

button:hover {
    opacity: 0.8;
}

.types {
    min-width: 8vw;
    border: var(--primary) solid 2px;
    border-radius: 1em;
    padding: 1vh 1vw 2vh;
    margin: 0 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.types:hover {
    background-color: var(--primary);
}

.socialbox {
    display: flex;
    align-items: center;
}

.social {
    display: flex;
    padding: 0 1vw;
    align-items: center;
}

.social p {
    color: var(--textcolor);
}

.portfoliobox {
    display: flex;
    align-items: center;
}

details {
    background-color: var(--primary-lighten);
    box-shadow: 0 0 16px 0 var(--dark);
    border-radius: 3vh;
    margin: 4vh 0;
}

summary {
    width: 48vw;
    height: 6vh;
    background-color: var(--primary-lighten);
    border-radius: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary img {
    padding: 0 1vw;
}

.teamsection {
    padding: 2vh 0;
    margin: 0 auto;
}

.teamheader {
    width: 48vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teamcontent {
    width: 48vw;
}

.teamrow {
    display: flex;
    align-items: center;
}

.skillrow p {
    text-indent: 1em;
    line-height: 2em;
    padding: 0 1vh;
}