@font-face {
    font-family: 'sans';
    src: url(source/PretendardVariable.woff2);
}

@media (prefers-color-scheme: light) {
    html {
        --primary: #AE46FF;
        --bgcolor: #fff;
        --grey: #727272;
        --textcolor: #1e1e1e;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        --primary: #AE46FF;
        --bgcolor: #1e1e1e;
        --dark: #727272;
        --textcolor: white;
    }
}

html, body {
    color: var(--textcolor);
    background-color: var(--bgcolor);
    font-family: 'sans';
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3em;
    font-weight: 900;
    padding: 8vh 2vw 0;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    padding: 2vh 2vw;
}

h3 {
    font-size: 1.25em;
    font-weight: 500;
    padding: 0 2vw;
}

p {
    font-size: 1em;
    font-weight: 400;
    padding: 0;
}

#main {
    width: 60vw;
    margin: 0 auto;
    scroll-snap-type: y mandatory;
}

.section {
    height: 52vh;
    box-sizing: border-box;
    margin: 24vh 0;
    scroll-snap-align: center;
}

#section1 {
    background-color: var(--dark);
}

.row {
    display: flex;
    align-items: center;
}

.types {
    width: 8vw;
    height: 8vw;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}